
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    display: block; 
    text-align: center; 
    padding: 10px 0; 
  }
  
  .nav-links {
    list-style: none;
    text-align: center; 
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Style the header section */
  header {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
  
  .header-left img {
    max-width: 100%;
    height: auto;
    display: block; 
  }
  
  .header-right {
    text-align: left;
  }
  
  h1, h2 {
    color: #333;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: block; 
    margin-top: 20px; 
    text-align: center;
  }
  

  #About {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
  }
  
  .heading-p {
    color: #333;
  }
  
  .heading {
    font-size: 36px;
    color: #333;
  }
  
  .about-container {
    display: flex;
    justify-content: space-between;
  }
  
  .about-left img {
    max-width: 100%;
    height: auto;
    display: block; 
  }
  
  .edu-box {
    text-align: center;
    margin-bottom: 20px;
  }
  
  